body {
  max-width: 1440px;
  height: 1594px;
  background: #CCCCCC;
}
a {
  text-decoration: none;
}
header {
width: 1440px;
height: 381px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  #C4C4C4;
background-image: url('../images/header_bg.png');
background-repeat: no-repeat;
margin: 0 auto;
}
.nav-bar {
  width: 1143px;
  height: 24px;
  margin: 0 auto;
  padding-top: 36px;
}
#headerLogo {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
#headerLinks {
  float: right;
}
#headerLinks .text {
  height: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  vertical-align: middle;
}
.download-icon {
  width: 20px;
  height: 20px;
  vertical-align: top;
}
#headerLinks a {
  margin-left: 25px;
}
.headerIcon {
  width: 18px;
  height: 23px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  vertical-align: middle;
}
main {
  top: -64px;
  width: 1380px;
  height: 1195px;
  margin: -80px 30px 0 30px;
}
.whiteBg {
  width: 1380px;
  height: 1195px;
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: -50px 0 0 0;
}
.profile {
  width: 604px;
  height: 307px; /* 386-79, kartinka idet naverh */
  margin: -79px auto 32px;
}
.avatar {
  width: 160px;
  height: 160px;
  margin: -79px 222px 0 222px;
}
.username {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25.55px;
  line-height: 30px;
  color: #3C4858;
  margin: 21px auto 0 auto;
}
.profession {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin: 17px auto 0 auto;
}
.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999;
  margin: 44px auto 0 auto;
}
#icons {
  width: 310px;
  height: 104px;
  margin-top: 0;
  margin-left: 538px;
  margin-right: 534px;
}
#icons a {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 104px;
  border-radius: 4px;
  background: white;
  text-decoration: none;
  margin: 0;
}
#icons  a:hover  {
  background: rgba(200, 200, 200, 0.2);
}
#icons .active{
  background: #9C27B0;
}
.imageIcon {
  width: 30px;
  height: 30px;
  margin: 25px 35px 49px 35px;
}
#buttomStudio .imageIcon {
  background: url("../images/studio.svg");
}
#buttomStudio:focus .imageIcon {
  background: url("../images/studioHover.svg");
}
#buttomStudio:hover .imageIcon {
  background: url("../images/studio.svg");
}
#buttomWork .imageIcon {
  background: url("../images/work.svg");
}
#buttomWork:focus .imageIcon {
  background: url("../images/workHover.svg");
}
#buttomWork:hover .imageIcon {
  background: url("../images/work.svg");
}
#buttomFavorite .imageIcon {
  background: url("../images/favorite.svg");
}
#buttomFavorite:focus .imageIcon {
  background: url("../images/favoriteHover.svg");
}
#buttomFavorite:hover .imageIcon {
  background: url("../images/favorite.svg");
}
.studio-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #555555;
  margin: -30px 29px 14px 29px;
}
#buttomStudio:focus .studio-text {
  color: #FFFFFF;
}
#buttomStudio:hover .studio-text {
  color: #555555;
}
.work-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #555555;
  margin: -34px 33px 14px 33px;
}
#buttomWork:focus .work-text {
  color: #FFFFFF;
}
#buttomWork:hover .work-text {
  color: #555555;
}
.favorite-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #555555;
  margin: -34px 23px 14px 23px;
}
#buttomFavorite:focus .favorite-text {
  color: #FFFFFF;
}
#buttomFavorite:hover .favorite-text {
  color: #555555;
}
#photos {
  width: 555px;
  height: 621px;
  margin: 51px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#photos img {
    background: #C4C4C4;
    border-radius: 6px;
}
.block {
  width: 274px;
  height: 621px;
}
.blockT {
  width: 274px;
  height: 621px;
  text-align: right;
}
.firstPhoto {
  width: 262px;
  height: 197px;
  margin-bottom: 30px;
}
.thirdPhoto {
  width: 262px;
  height: 394px;
}
.secondPhoto {
  width: 263px;
  height: 351px;
  margin-bottom: 30px;
}
.fourthPhoto {
  width: 263px;
  height: 197px;
}
footer {
  width: 1127px;
  height: 18px;
  margin: 47px 148px 0 165px;
  display: flex;
  justify-content: space-between;
}
#footerLinks .footerLinkOne {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-right: 33px;
}
#footerLinks .footerLinkTwo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-right: 33px;
}
footer p {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin: 0;
}


@media screen and (max-width: 768px) {
  header {
    width: 768px;
    height: 381px;
    background-image: url('../images/bgHeader.png');
  }
  .nav-bar {
    width: 768px;
    height: 45px;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 25px;
  }
  #headerLinks a, #headerLogo {
    margin-left: 25px;
  }
  #headerLinks:last-child {
  margin-right: 20px;
  }
  main {
    width: 748px;
    height: 3774px;
    margin: -60px 10px 0 10px;
  }
  .whiteBg {
    width: 748px;
    height: 3774px;
    margin: -30px 0 0 0;
  }
  #icons {
    width: 310px;
    height: 104px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #photos{
    width: 725px;
    height: 3213px;
    margin: 51px auto 67px auto;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #photos img {
    margin-bottom: 29px;
  }
  #photos .fourthPhoto {
    margin-bottom: 0;
  }
  .block {
    width: 725px;
    height: 1682px;
  }
  .blockT {
    width: 725px;
    height: 1531px;
  }
  .firstPhoto,
  .fourthPhoto {
    width: 725px;
    height: 541px;
  }
  .thirdPhoto {
    width: 725px;
    height: 1081px;
  }
  .secondPhoto {
    width: 725px;
    height: 961px;
  }
  footer {
    width: 462px;
    height: 62px;
    margin: 45px auto 27px 40px;
    display: block;
  }
  footer p {
    text-align: right;
    margin-top: 30px;
  }
}
